@font-face {
    font-family: 'Nostrud' ;
    src: url('NOSTRUD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes bganim {
0% {
    background-position: 0% 50%;
  }

50%{
    background-position: 100% 50%;
  }

100%{
    background-position: 0% 50%;
  }

}

body {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background: linear-gradient(45deg, #06283D, #13dfa2, #47B5FF, #DFF6FF);
    background-size: 400% 400%;
    animation: bganim 15s ease infinite;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: rgba(93, 216, 144, 0.925);
    text-shadow: 3px 3px 1px white;
    font-family: 'Nostrud', Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 4em;
}

a {
    color: rgba(93, 216, 144, 0.925);
    text-decoration: none;
}

a:hover {
    color: rgb(30, 117, 117);
}

p {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    border: 4px solid green;
    background-color: rgba(63, 30, 15, 0.932);
}

strong {
    font-size: 30px;
    color: rgb(80, 207, 41);;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

div{
    display: flex;
    justify-content: center;

}

img.monno{
    width: 700%;

}

.coluna {
    float: left;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.Mario {
    width: 600px;
    height: 300px;
}

.Mario2 {
    color: aquamarine;
    font-size: 25px;
}